.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .card {
  display: flex;
  flex-direction: row;
  width: 50%;
  background-color: #FFFFFF;
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.login .card .left {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/12938820/pexels-photo-12938820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
}
.login .card .left h1 {
  font-size: 100px;
  line-height: 100px;
}
.login .card .left span {
  font-size: 14px;
}
.login .card .left button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #FFFFFF;
  color: rebeccapurple;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.login .card .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}
.login .card .right form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login .card .right form input {
  border: none;
  border-bottom: 1px solid lightgray;
}
.login .card .right form button {
  width: 50%;
  font-weight: bold;
  border: none;
  background-color: #938eef;
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.register .card {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  width: 50%;
  background-color: #FFFFFF;
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.register .card .left {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/4791254/pexels-photo-4791254.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
}
.register .card .left h1 {
  font-size: 100px;
  line-height: 100px;
}
.register .card .left span {
  font-size: 14px;
}
.register .card .left button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #FFFFFF;
  color: rebeccapurple;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.register .card .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}
.register .card .right form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.register .card .right form input {
  border: none;
  border-bottom: 1px solid lightgray;
}
.register .card .right form button {
  width: 50%;
  font-weight: bold;
  border: none;
  background-color: #938eef;
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.layout .layout-container {
  display: flex;
}

.theme-light .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  height: 50px;
}
.theme-light .navbar .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.theme-light .navbar .left span {
  font-weight: bold;
  font-size: 20px;
  color: darkblue;
}
.theme-light .navbar .left .search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.theme-light .navbar .left .search input {
  border: none;
  width: 500px;
  background-color: white;
  color: #000;
}
.theme-light .navbar .left .search input:focus {
  outline: none;
}
.theme-light .navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.theme-light .navbar .right .user {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}
.theme-light .navbar .right .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-dark .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #222;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #444;
  height: 50px;
}
.theme-dark .navbar .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.theme-dark .navbar .left span {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.theme-dark .navbar .left .search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.theme-dark .navbar .left .search input {
  border: none;
  width: 500px;
  background-color: #222;
  color: whitesmoke;
}
.theme-dark .navbar .left .search input:focus {
  outline: none;
}
.theme-dark .navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.theme-dark .navbar .right .user {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}
.theme-dark .navbar .right .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-light .leftBar {
  flex: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 71px;
  height: calc(100vh - 71px);
  overflow: scroll;
}
.theme-light .leftBar::-webkit-scrollbar {
  display: none;
}
.theme-light .leftBar .container {
  padding: 20px;
}
.theme-light .leftBar .container hr {
  margin: 20px 0;
  border: none;
  height: 0.5px;
  background-color: lightgrey;
}
.theme-light .leftBar .container .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.theme-light .leftBar .container .menu span {
  font-size: 12px;
}
.theme-light .leftBar .container .menu .user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.theme-light .leftBar .container .menu .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-light .leftBar .container .menu .user span {
  font-size: 14px;
}
.theme-light .leftBar .container .menu .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.theme-light .leftBar .container .menu .item img {
  width: 30px;
}
.theme-light .leftBar .container .menu .item span {
  font-size: 14px;
}
.theme-dark .leftBar {
  flex: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 71px;
  height: calc(100vh - 71px);
  overflow: scroll;
}
.theme-dark .leftBar::-webkit-scrollbar {
  display: none;
}
.theme-dark .leftBar .container {
  padding: 20px;
}
.theme-dark .leftBar .container hr {
  margin: 20px 0;
  border: none;
  height: 0.5px;
  background-color: lightgrey;
}
.theme-dark .leftBar .container .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.theme-dark .leftBar .container .menu span {
  font-size: 12px;
}
.theme-dark .leftBar .container .menu .user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.theme-dark .leftBar .container .menu .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-dark .leftBar .container .menu .user span {
  font-size: 14px;
}
.theme-dark .leftBar .container .menu .item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.theme-dark .leftBar .container .menu .item img {
  width: 30px;
}
.theme-dark .leftBar .container .menu .item span {
  font-size: 14px;
}

.rightBar {
  flex: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 71px;
  height: calc(100vh - 71px);
  overflow: scroll;
}
.rightBar::-webkit-scrollbar {
  display: none;
}
.rightBar .container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rightBar .container .item {
  padding: 20px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
}
.rightBar .container .item span {
  color: gray;
}
.rightBar .container .item .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.rightBar .container .item .user .userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rightBar .container .item .user .userInfo img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.rightBar .container .item .user .userInfo p {
  color: gray;
}
.rightBar .container .item .user .userInfo span {
  font-weight: 500;
  color: #111111;
  position: relative;
}
.rightBar .container .item .user .online .img-container {
  display: block;
  position: relative;
}
.rightBar .container .item .user .online .img-container::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(16, 255, 47);
}
.rightBar .container .item .user .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rightBar .container .item .user .buttons button {
  border: none;
  padding: 4px 8px;
  color: white;
  cursor: pointer;
}
.rightBar .container .item .user .buttons button:first-child {
  background-color: red;
}
.rightBar .container .item .user .buttons button:last-child {
  background-color: blue;
}/*# sourceMappingURL=social.css.map */