.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .card {
  display: flex;
  flex-direction: row;
  width: 50%;
  background-color: #FFFFFF;
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.login .card .left {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/12938820/pexels-photo-12938820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
}
.login .card .left h1 {
  font-size: 100px;
  line-height: 100px;
}
.login .card .left span {
  font-size: 14px;
}
.login .card .left button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #FFFFFF;
  color: rebeccapurple;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.login .card .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}
.login .card .right form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login .card .right form input {
  border: none;
  border-bottom: 1px solid lightgray;
}
.login .card .right form button {
  width: 50%;
  font-weight: bold;
  border: none;
  background-color: #938eef;
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.register .card {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  width: 50%;
  background-color: #FFFFFF;
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
}
.register .card .left {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  color: #FFFFFF;
  background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/4791254/pexels-photo-4791254.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
}
.register .card .left h1 {
  font-size: 100px;
  line-height: 100px;
}
.register .card .left span {
  font-size: 14px;
}
.register .card .left button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: #FFFFFF;
  color: rebeccapurple;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.register .card .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}
.register .card .right form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.register .card .right form input {
  border: none;
  border-bottom: 1px solid lightgray;
}
.register .card .right form button {
  width: 50%;
  font-weight: bold;
  border: none;
  background-color: #938eef;
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  height: 50px;
}
.navbar .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar .left span {
  font-weight: bold;
  font-size: 20px;
  color: darkblue;
}
.navbar .left .search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.navbar .left .search input {
  border: none;
  width: 500px;
}
.navbar .left .search input:focus {
  outline: none;
}
.navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .right .user {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}
.navbar .right .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=social.css.map */